<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

{% block content %}

<h1>{{ new.header_post|censor }}</h1>

<hr>
  <p align="justify">{{ new.text_post|censor }}</p>
<hr>
<h4 align="left">Category:
  {% for category in new.category_post.all %}
<!--    <form action="{% url 'subscribe' new.id  %}" method="GET">-->

  <a href="{% url 'subscribe' category.id %}"> {{ category }} </a>
<!--      <input type="submit" value="Subscribe">-->
<!--    </form>-->
  {% endfor %}

</h4>

<h4 align="right">Дата публикации: {{ new.date_post|date:'d M Y h:m' }}</h4>

{% endblock content %}